.container{
    display: grid;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 60px 1fr 40px;
    height: 100vh;
}

header{
    grid-area: header;
    background: gray;
    color: white;
    text-align: center;
    animation: aparecer 1s;
}

aside{
    grid-area: menu;
    background: lightgray;
}

main{
    grid-area: content;
    padding: 10px;
    animation: aparecer 2s;
}

footer{
    grid-area: footer;
    background: gray;
    color: white;
    text-align: center;
}

li{
    list-style: none;
    padding: 8px;
}

li:hover{
    background: darkgray;
}

li::before{
    content: "• ";
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}